---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cocktail Catering">

    <body>

   <img class="herobilledecocktail" src="/SidecarBilleder/CocktailCateringBilleder/bar1.webp" alt="bar">

   <div class="cocktailheroimagetext">
<h1>Cocktail Catering</h1>
<p class="heroP">Skræddersyet til dit event</p>
<a href="/cocktailmenu"><button class="semenu">Se cocktail menu</button></a>
</div>

  <button class="book_btn"> Cocktail Menu </button>

<h2>En komplet barløsning til enhver lejlighed</h2>

<div class="cocktailimagewrap">
<img class="cocktailimgheight" src="/public/SidecarBilleder/CocktailCateringBilleder/bar3.webp" alt="bar">
<div class="tekstbox1">
<p>Uanset om det er årets bryllup, firmaarrangement eller en større privatfest, kan Sidecar tilbyde en skræddersyet og komplet bar løsning. Vi leverer cocktails til fest, der skaber stemning og får dine gæster til at føle sig til rette. Med Sidecars cocktail catering får du en aften fyldt med komfort, atmosfære og kvalitet – en fest, dine gæster vil huske.</p>
<p class="bottomtextt">Sidecars cocktail catering bygger videre på den varme og imødekommende atmosfære, der definerer vores sted på Nørrebro. Vores mobile cocktailbar er en forlængelse af den unikke Sidecar-oplevelse - med den samme passion for nærvær, håndværk og kvalitet. Vidste du, at vi har leveret cocktail catering i over 10 år – længere end Sidecar selv har eksisteret? Det var faktisk sådan, Sidecar begyndte.</p>
</div>
</div>

<section class="tilbud">

<h2 class="h2tilbud">Det får du når du lejer en bar hos Sidecar:</h2>

<div class="inkoerwrap">

<div>
<img class="ikonerr" src="/public/ikonertilsidecarmenu/findevejikon.png" alt="landsdækkendeservice">
<p class="bigP">Landsdækkende Service</p>
<p class="smallP">Vi holder til i København, men kører glædeligt ud i resten af Danmark, og sørger for cocktails til dit event.</p>
</div>

<div>
<img class="ikonerr" src="/public/ikonertilsidecarmenu/shakerikon.png" alt="landsdækkendeservice">
<p class="bigP">Profesionelle Bartendere</p>
<p class="smallP">Baren bemandes altid af vores professionelle, erfarne og personlige bartendere.</p>
</div>

<div>
<img class="ikonerr" src="/public/ikonertilsidecarmenu/cocktaildrinksikon.png" alt="landsdækkendeservice">
<p class="bigP">Cocktails af Høj Kvalitet</p>
<p class="smallP">Alle cocktails er lavet med ingredienser af høj kvalitet. Sirupperne laver vi også selv in-house.</p>
</div>

<div>
<img class="ikonerr" src="/public/ikonertilsidecarmenu/planlaegikon.png" alt="landsdækkendeservice">
<p class="bigP">Skræddersyet Til Dit Event</p>
<p class="smallP">Fadølsanlæg? Unik cocktail med en særlig farve? Vi tilpasser vores tilbud særligt til dine drømme og ønsker.</p>
</div>

<div>
<img class="ikonerr" src="/public/ikonertilsidecarmenu/vistaarforaltikon.png" alt="landsdækkendeservice">
<p class="bigP">Vi Står For Det Hele</p>
<p class="smallP">Vi medbringer alle nødvendige dele, sætter baren op, laver en masse gode drinks, og pakker baren ned igen.Du skal blot sørge for at nyde dine gæsters selskab!</p>
</div>

</div>

<a href="/cocktailmenu"><button class="button">Send forespørgelse</button></a>

</section>

<h2>Lej en bar: Mobil cocktailbar til fest</h2>
<div class="cocktailimagewrap2">
<img class="cocktailimgheight" src="/public/SidecarBilleder/CocktailCateringBilleder/IMG_8869.webp" alt="bar">
<p class="bottomtextt2">Lej en bar: Mobil cocktailbar til fest
Når du inviterer Sidecar med til din fest, får du mere end bare en bar – du får en oplevelse. Vores bartendere bringer både professionelt barudstyr og en varm, imødekommende stemning med sig, så dine gæster kan slappe af og nyde hinandens selskab. Vi har styr på alt fra logistik til at sikre den rette atmosfære i baren, og vi elsker at skabe cocktails, der passer til netop din aften. Har du særlige ønsker, er vi klar – og ellers tager vi styringen og sammensætter en menu, der både overrasker og smager af mere.</p>
</div>

<h2>Fokus på kvalitet og friske råvarer</h2>
<div class="cocktailimagewrap3">
<img class="cocktailimgheight" src="/public/SidecarBilleder/CocktailCateringBilleder/IMG_8857.webp" alt="bar">
<p class="bottomtextt3">Hos Sidecar handler det om at levere cocktail oplevelser i særklasse, med fokus på friske råvarer. Vi går op i eget håndværk, og laver vores egne sirupper, cordialer, infuseringer selv, for at sikre den ønskede smag i hver eneste cocktail. De elementer vi ikke selv kan lave, sørger vi for at købe den bedst mulige kvalitet. For os er gode cocktails nemlig mere end bare spiritus; det er de friske ingredienser, der udgør nerven.Det er cocktails, der smager af omtanke – fordi dine gæster fortjener det bedste.</p>
</div>

<div class="line"></div>


<h2 class="kontaktH2">Kontakt os og få et tilbud</h2>
<p class="kontakttP">Skriv til os gennem formularen og vi vender tilbage snarest muligt for at diskutere mulighederne.</p>


<form id="webform">

<fieldset>

<div class="navnognummer">

  <div class="felt">
    <label for="full_name">Fulde navn</label>
    <input type="text" id="full_name" required>
  </div>

  <div class="felt">
    <label for="phone_number">Telefonnummer</label>
    <input type="text" id="phone_number" required>
  </div>

</div>

<div class="virksomhed">

<label for="virksomhed_type">Virksomhedsnavn og cvr-nummer (Undlad som privatperson)</label>
    <input type="text" id="virksomhed">

</div>


<div class="email">

     <label for="email">Email</label>
    <input type="email" id="email" required>
    <span class="fejlmeddelse"></span>

</div>

<div class="datooggaester">

      <div class="felt">
    <label for="time_date">Dato&tidspunkt</label>
    <input type="date" id="time_date" required>
    <span class="fejlmeddelse"></span>
</div>

<div class="felt">
     <label for="guest_number">Antal gæster</label>
    <input type="text" id="guest_numberr" required>
    <span class="fejlmeddelse"></span>
</div>

</div>

<div class="message">

    <label for="message">Besked</label>
            <textarea name="message" id="message"></textarea>

</div>

<button class="sendbesked">Send besked</button>

</fieldset>

</form>


 </body>
</Layout>

<style>


    * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}    

.herobilledecocktail {
    height: 300px;
    object-fit: cover;
        display: block;
}

h2, h1 {
    text-align: center;
}

h1 {
    color: white;
    padding: 0;
    margin: 0;
    padding-bottom: 0.5rem;
}

.cocktailheroimagetext {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-20%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cocktailimgheight {
    height: 350px;
    object-fit: cover;
    padding-left: 2rem;
    padding-right: 2rem;
}

.somelogo{
    width: 40px;
}

.some {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.lowerrow {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tilmeld {
    margin-top: 0.8rem;
}

p {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.bottomtextt, .bottomtextt2, .bottomtextt3 {
    padding-bottom: 3rem;

}

.heroP {
    padding: 0;
    margin: 0;
    padding-bottom: 1rem;
    color: white;
    font-weight: 800;
}

h2 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    text-align: center;
    color: #2B3461;;
}

.tilbud {
    background-color: #2B3461;
    padding-bottom: 2rem;
    margin-bottom: 5rem;
}

.h2tilbud {
    color: white;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.ikonerr {
    width: 180px;
    justify-self: center;
}

.bigP {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding: 0;
}

.smallP {
    padding: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 3rem;
    color: white;
}

.button {
    margin-bottom: 3rem;
        display: block;
    margin: 0 auto 3rem auto;
}

a {
    text-decoration: none;
}

.kontakttP {
padding: 0;
padding-left: 2rem;
padding-right: 2rem;
text-align: center;
padding-bottom: 2rem;
}


#webform {
  display: flex;
  justify-content: center;
}

fieldset {
  border: none;
  width: 80%;
}

.navnognummer,
.virksomhed,
.email,
.datooggaester,
.message {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
 font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
}

input,
textarea {
  padding: 12px;
  border: solid #2B3461 2px;
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.message textarea {
  height: 150px;
}

.line {
    width: 300px;
    justify-self: center;
  height: 1px;
  background-color: #2B3461;

}


.kontaktH2 {
    padding-top: 2rem;
}

.sendbesked {
    margin-bottom: 4rem;
}

.felt {
  display: flex;
  flex-direction: column;
}

  .book_btn {
    position: fixed;
    top: 30%;
    right: 0;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: right center;
    margin-right: 1rem;
    border-radius: 15px 15px 0 0;
    z-index: 100;
  }

@media (min-width: 800px){ 

.herobilledecocktail {
    height: 700px;
}

.cocktailheroimagetext {
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(15%, -50%);
}

.heroP {
    padding-bottom: 2rem;
}

h2{
    padding-top: 3rem;
}

.cocktailimgheight {
    height: 450px;
    width: 450px;
    justify-self: center;
    margin-left: 200px;
    padding-top: 2.2rem;
}

.cocktailimagewrap {
display: grid;
grid-template-columns: 1fr 1fr;
}

.tekstbox1 {
margin-right: 200px;
}

p {
      padding-left: 0rem;
    padding-right: 0rem;
}

.cocktailimagewrap2 {
    display: grid;
grid-template-columns: 1fr 1fr;
}

.bottomtextt2 {
margin-right: 200px;

}

.cocktailimagewrap3 {
     display: grid;
grid-template-columns: 1fr 1fr;
padding-bottom: 6rem;
}

.bottomtextt3 {
margin-right: 200px;
}

.inkoerwrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.bigP {
    font-size: 1.3rem;
    font-weight: 700;
}

.h2tilbud {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.line {
width: 1200px;

}

label {
  margin-bottom: 10px;
  font-size: 1.2rem;
  padding-top: 1rem;
}

input,
textarea {
  padding: 12px;
  border: solid #2B3461 2px;
  border-radius: 30px;
  height: 60px;
}

  .navnognummer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .datooggaester {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

  }

  fieldset {
  border: none;
  width: 60%; }

.sendbesked {
    margin-bottom: 6rem;
}

 .book_btn {
    top: 60%;
    margin-right: 1.5rem;
  }

}




</style>