---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cocktail Catering">

    <body>

   <img class="herobilledecocktail" src="/SidecarBilleder/CocktailCateringBilleder/bar1.webp" alt="bar">

   <div class="cocktailheroimagetext">
<h1>Cocktail Catering</h1>
<p class="heroP">Skræddersyet til dit event</p>
<button class="semenu">Se cocktail menu</button>
</div>

<h2>En komplet barløsning til enhver lejlighed</h2>

<div class="cocktailimagewrap">
<img class="cocktailimgheight" src="/public/SidecarBilleder/CocktailCateringBilleder/bar3.webp" alt="bar">
<div class="tekstbox1">
<p>Uanset om det er årets bryllup, firmaarrangement eller en større privatfest, kan Sidecar tilbyde en skræddersyet og komplet bar løsning. Vi leverer cocktails til fest, der skaber stemning og får dine gæster til at føle sig til rette. Med Sidecars cocktail catering får du en aften fyldt med komfort, atmosfære og kvalitet – en fest, dine gæster vil huske.</p>
<p class="bottomtextt">Sidecars cocktail catering bygger videre på den varme og imødekommende atmosfære, der definerer vores sted på Nørrebro. Vores mobile cocktailbar er en forlængelse af den unikke Sidecar-oplevelse - med den samme passion for nærvær, håndværk og kvalitet. Vidste du, at vi har leveret cocktail catering i over 10 år – længere end Sidecar selv har eksisteret? Det var faktisk sådan, Sidecar begyndte.</p>
</div>
</div>

<h2>Lej en bar: Mobil cocktailbar til fest</h2>
<div class="cocktailimagewrap2">
<img class="cocktailimgheight" src="/public/SidecarBilleder/CocktailCateringBilleder/IMG_8869.webp" alt="bar">
<p class="bottomtextt2">Lej en bar: Mobil cocktailbar til fest
Når du inviterer Sidecar med til din fest, får du mere end bare en bar – du får en oplevelse. Vores bartendere bringer både professionelt barudstyr og en varm, imødekommende stemning med sig, så dine gæster kan slappe af og nyde hinandens selskab. Vi har styr på alt fra logistik til at sikre den rette atmosfære i baren, og vi elsker at skabe cocktails, der passer til netop din aften. Har du særlige ønsker, er vi klar – og ellers tager vi styringen og sammensætter en menu, der både overrasker og smager af mere.</p>
</div>

<h2>Fokus på kvalitet og friske råvarer</h2>
<div class="cocktailimagewrap3">
<img class="cocktailimgheight" src="/public/SidecarBilleder/CocktailCateringBilleder/IMG_8857.webp" alt="bar">
<p class="bottomtextt3">Hos Sidecar handler det om at levere cocktail oplevelser i særklasse, med fokus på friske råvarer. Vi går op i eget håndværk, og laver vores egne sirupper, cordialer, infuseringer selv, for at sikre den ønskede smag i hver eneste cocktail. De elementer vi ikke selv kan lave, sørger vi for at købe den bedst mulige kvalitet. For os er gode cocktails nemlig mere end bare spiritus; det er de friske ingredienser, der udgør nerven.Det er cocktails, der smager af omtanke – fordi dine gæster fortjener det bedste.</p>
</div>


<a href="/cocktailmenu">Gavekort</a>


 </body>
</Layout>

<style>


    * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}    

.herobilledecocktail {
    height: 300px;
    object-fit: cover;
        display: block;
}

h2, h1 {
    text-align: center;
}

h1 {
    color: white;
    padding: 0;
    margin: 0;
    padding-bottom: 0.5rem;
}

.cocktailheroimagetext {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-20%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cocktailimgheight {
    height: 350px;
    object-fit: cover;
    padding-left: 2rem;
    padding-right: 2rem;
}

.somelogo{
    width: 40px;
}

.some {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.lowerrow {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tilmeld {
    margin-top: 0.8rem;
}

p {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.bottomtextt, .bottomtextt2, .bottomtextt3 {
    padding-bottom: 3rem;

}

.heroP {
    padding: 0;
    margin: 0;
    padding-bottom: 1rem;
    color: white;
    font-weight: 400;
}

h2 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    text-align: center;
    color: #2B3461;;
}


@media (min-width: 800px){ 

.herobilledecocktail {
    height: 700px;
}

.cocktailheroimagetext {
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(15%, -50%);
}

.heroP {
    padding-bottom: 2rem;
}

h2{
    padding-top: 5rem;
}

.cocktailimgheight {
    height: 450px;
    width: 450px;
    justify-self: center;
    margin-left: 200px;
    padding-top: 2.2rem;
}

.cocktailimagewrap {
display: grid;
grid-template-columns: 1fr 1fr;
}

.tekstbox1 {
margin-right: 200px;
}

p {
      padding-left: 0rem;
    padding-right: 0rem;
}

.cocktailimagewrap2 {
    display: grid;
grid-template-columns: 1fr 1fr;
}

.bottomtextt2 {
margin-right: 200px;

}

.cocktailimagewrap3 {
     display: grid;
grid-template-columns: 1fr 1fr;
}

.bottomtextt3 {
margin-right: 200px;
}

}



</style>