---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Forside">

    <div class="hero">
       <h1>Brunchcafé i hjertet af Nørrebro</h1>
        </div>

  <button class="book_btn"> Book Bord </button>


    <section class="indhold_sektion">
        <div>
<h2>Se vores brunch menu</h2>
<p>Åbningstider:</p>
<p>Hverdage: 8-16 </p>
<p>Lørdag: 9-16</p>
<p>Søndag: 9-15:30</p>
<a href="/menukort"><button class="knap">Menukort</button></a>
</div>
<div>
<img id="img_ani" src="img/brunchbord2forside.webp" alt="Brunchbord">
</div>
    </section>
<div class="line"></div>

 <section class="indhold_sektion omvendt">
    <div>
<h2>Se vores selskabslokale</h2>
<p class="tekstselskaber">Udlej vores indbydende, lyse og store lokale, der passer til enhver begivenhed. Vi er dedikerede til at give de bedste rammer til dit næste selskab, og styler lokalet efter dine behov. Læs mere om, hvilke muligheder vi tilbyder. </p>

<a href="/selskaber"><button class="knap">Selskaber</button></a>
</div>
<div>
<img id="img_ani" src="img/indretningforside.webp" alt="Indretning">
</div>
    </section>

<section class="omos">
<div>
<h2 class="overskriftomos"> Historien bag Sidecar</h2>
</div>
<div class="omosdel2">
<img src="img/Omosbillede.webp" alt="Historie">
<p class="tekstomos">Sidecar startede for 10 år siden som en cocktail pop-up bar drevet af to venner, der serverede drinks til bl.a. bryllupper og events. Succesen førte til, at vi åbnede vores eget sted, som er opkaldt efter den klassiske cocktail “Sidecar”. Oprindeligt var fokus kun på cocktails, men for at skabe mere liv i dagtimerne begyndte vi også at servere morgenmad og brunch. Gennem de sidste 10 år har vi udviklet os til et af de mest populære brunchsteder i København. I dag er vi kendt for at kombinere en stor buffet med varme retter direkte fra køkkenet, og vi har åbent alle ugens 7 dage.</p>
</div>
</section>


<section class="galleri">
  <img src="img/galleri1.webp" alt="">
   <img class="img4" src="img/galleri4.webp" alt="">

  <img src="img/galleri3.webp" alt="">
    <img src="img/galleri2.webp" alt="">
 
</section>

</Layout>


<style>

 .hero {
    height: 50vh;
    background: url("/img/brunchbordforside.webp") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }

 img{
width: 200px;
height: auto;
}

 h1 {
 color: var(--color-white);
}
     h2 {
       color: var(--color-secondary);
     }
     
     p{
    color: var(--color-black);
  }

.indhold_sektion {
     display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 1.5rem;
  padding: 3rem;
  }

.galleri {
display: grid;
grid-template-columns: repeat(2, 1fr);

max-width: 300px;
margin: 0 auto;
padding-top: 3rem;
padding-bottom: 3rem;
gap: 1rem;

}

.galleri img {
height: 220px;
width: 150px;
padding-bottom: 0.5rem;
}




 .book_btn {
    position: fixed;
    top: 30%;
    right: 0;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: right center;
    margin-right: 1rem;
    border-radius: 15px 15px 0 0;
    z-index: 100;
  }

  .knap {
    margin-top: 1.5rem;
}

.omos {
     display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 1.5rem;
  padding: 3rem;
  background-color: var(--color-secondary);

  }

  .omos img {
    width: 280px;
    height: auto;
   justify-self:center;
   padding-bottom: 2rem;
  }

  .overskriftomos {
    color: var(--color-white);
  }

  .tekstomos {
    color: var(--color-white);
    max-width: 440px;
  }


  

  @media (min-width: 768px) {
    .hero {
      height: 90vh;
    }

     img{
    width: 300px;
    height: auto;
}

.indhold_sektion {
    flex-direction: row;
    justify-content: center;
    text-align: left;
    gap: 5rem;
    padding: 5rem;
  }

  .omvendt {
    flex-direction: row-reverse;
  }


.galleri {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 1rem;
padding-top: 6rem;
padding-bottom: 6rem;
justify-content: center;
}
.galleri img {
height: 400px;
width: auto;
padding-bottom: 0.5rem;
}

 .book_btn {
    top: 60%;
    margin-right: 1.5rem;
  }
  .tekstselskaber {
    max-width: 550px;
  }

  .omosdel2 {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 4rem;
   padding-bottom: 1rem;
  }

  .omos img {
    width: 490px;
    height: auto;
  
  }

  .tekstomos {
    max-width: 480px;
   
  }
  
}
</style>