---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Forside">
<h1>Brunchcafé i hjertet af Nørrebro</h1>
<h2>henwk</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, qui quidem fugit, ut ea tenetur optio quasi adipisci maiores facilis inventore! Ad, suscipit? Aperiam sequi perspiciatis repellendus provident numquam. Nemo?</p>
<button>Tilmeld dig het</button>
</Layout>