---
import Layout from "../layouts/Layout.astro";
import Pakke from "../components/Pakke.astro";

const url = `https://qvojbjzhnzwsmxjbsnze.supabase.co/rest/v1/pakke?select=*`;
const apiKey = "sb_publishable_Ik-Cm_IdDH9hqrY-8tragg_fTz_0YjC";

const options = {
  headers: {
    apikey: apiKey,
  },
};

const data = await fetch(url, options).then((res) => res.json());

console.log(data);
---

<Layout title="Selskaber">
<h1>Brunchcaf</h1>
 {data.map((pakke) => <Pakke pakke={pakke} />)}
</Layout>