---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import Pakke from "../components/Pakke.astro";

const url = `${import.meta.env.SUPABASE_URL}/rest/v1/pakke`;
const apiKey = import.meta.env.SUPABASE_PUBLISHABLE_KEY;

const options = {
  headers: {
    apikey: apiKey,
  },
};

const response = await fetch(url, options);

  if (!response.ok) {
    throw new Error("Kunne ikke hente produkter fra Supabase");
  }

  const data = await response.json();

---

<Layout title="Selskaber">
<body>

<div class="del1">
    <div class="del1_overskrift">
    <h2>Lokalet til dit næste bruncharrangement</h2>
  </div> <div class="del1_img">
    <img src="/img/lokalet1.webp" alt="billede af lokalet">
    </div> <div class="del1_text">
    <p>Velkommen til vores selskabslokale, dedikeret til at give dig de bedste rammer for enhver 
    festlig begivenhed på Nørrebro i København. Hvad end du planlægger et firmaarrangement, 
    en konfirmation, en stor fødselsdag eller endda et bryllup, så kan vores selskabslokale 
    styles til dine ønsker. </p>
    <p>Læs mere om vores festlokale på siden her, og hvordan vi kan hjælpe 
    dig med at planlægge en uforglemmeligt fest.</p>
  </div>
</div>

<div class="del2">
  <div>
    <p class="tal">45</p>
    <p>Siddende gæster</p>
</div>
<div>
    <p class="tal">70</p>
    <p>Stående gæster</p>
</div>
</div>

<div class="del3">
  <h2>De forskellige pakker</h2>
  <p>Alle pakker indholder vores signaturbrunch med en blanding af kolde og varme retter samt kaffe, 
    the og juice ad libitum i jeres helt eget lokale</p>
</div>

<div class="del3_pakker">
  {data.map((pakke) => <Pakke pakke={pakke} />)}

</div>

 <div class="del4">
  <h2>Hold dit næste event hos sidecar</h2>
  <div class="del4_grid">
  <img src="/img/lokalet2.webp" alt="billede 2 af lokalet">
  <div class="text">
  <p>Kontakt os i dag for at lære mere om lejemulighederne! Vores selskabslokale er et stort og lyst rum, 
    der passer til enhver festlig begivenhed. Lokalet har en bar, egne toiletter, projektor og lyd.</p>
    <p>Bordene kan rykkes rundt som du ønsker, så det passer til dine ønsker. Der er et hyggeligt udendørs 
      areal og egen indgang.</p></div>
      <p class="buttom_text">Lokalet ligger cirka 8 min. gang både fra Nuuks Plads metro station og parkeringshuset på Blågårdsgade 57, 
        så det er nemt for dine gæster at komme frem og tilbage.</p>
 </div></div>


 <div class="del5">
  <h2>Mad og drikke til dit selskab</h2>
  <div class="del5_grid">
  <img src="/img/brunchbord11.webp" alt="billede af brunchbord">
  <div class="del5_text">
  <p>Mad og drikke spiller en vigtig rolle når vi fejrer store og små øjeblikke. Helt specielt er det, at vi tager 
    os af alt det praktiske, så du bare kan nyde tiden med dine gæster.</p>
  <p>Vi tilbyder vores signaturbrunch, som mange kender fra vores restaurant lige rundt om hjørnet. 
      Brunchen består af en overdådig buffet med brød, spreads, yoghurtkopper, charcuterie, forskellige salater 
      og meget mere. Desuden får man serveret varme retter som røræg, bacon, pølser og vafler direkte fra køkkenet
       ned til bordet. Vi tager selvfølgelig hånd om allergener og præferencer.</p></div>
  <p class="del5_buttom_text">Til at skylde ned med, er der specialkaffe fra Copenhagen Coffee lab, samt the og både appelsin og æblejuice.
       Hvis man rigtig vil fejre, så har vi selvfølgelig også bobler af enhver slags til rådighed.</p>
 </div></div>
 </body>
</Layout>


<style>
body{
  margin: 0;
}

  h2{
    color: var(--color-secondary);
    text-align: center;
  }
.del1{
  margin: 50px 50px;
}
.del1 h2, img{
justify-self: center;
padding-bottom: 20px;
}
.del1 img{
  max-width: 300px;
}

.del2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  text-align: center;
  margin: 80px 50px 0px 50px;
padding: 30px 20px;
  border-top: solid 0.5px var(--color-black);
  border-bottom: solid 0.5px var(--color-black);
}
.tal{
  color: var(--color-action);
  font-size: 1.7rem;
  margin: 10px 0px;
}


.del3{
  text-align: center;
  padding: 0px 50px;
  background-color: var(--color-secondary);
  color: var(--color-white);
}
.del3 p{
  padding-bottom:30px;
  margin-bottom: 0;
 
}
.del3 h2{
  color: var(--color-white);
  margin-top: 0px;
  padding-top: 30px;
}

.del3_pakker, .del3{
  background-color: var(--color-secondary);
  padding: 0 100px;
}


.del4, .del5{
  margin: 80px 50px;
}
.del4_grid, .del5_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
} 
.del4 img{
  max-width: 200px;
}
.buttom_text{
  grid-column: 1/3;
  margin: 0px;
  padding: 0px 20px;
}
.del4 h2, .del5 h2{
  padding-bottom: 20px;
}


.del5_text{
  grid-column: 1/2;
  grid-row: 1/2;
}
.del5_grid img{
  grid-column: 2/3;
  place-self: center;
  padding-bottom: 0px;
}
.del5_buttom_text{
  grid-column: 1/3;
  margin: 0px;
  padding: 0px;
}


/* Tekst hopper under billede ved under 500px */
@media (max-width: 500px){
.del4_grid, .del5_grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0px;
}
.del4 img{
  grid-column: 1/3;
  max-width: 300px;
}
.buttom_text{
  padding: 0px;
}

.del5 img{
  grid-column: 1/3;
  grid-row: 1/2;
  max-width: 300px;
  padding-bottom: 20px;
}
.del5_text{
  grid-row: 2/3;
}
}


/* Desktop */
@media (min-width: 800px){

  .del1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    margin-right: 10%;
  }
  .del1_img{
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .del1 h2{
    margin: 0px;
    text-align: start;
  }

  .del2{
    padding: 50px 180px;
  }
  .tal{
    font-size: 3rem;
    margin: 30px 0px;
  }

  .del3 p{
    padding: 0px 10%;
    padding-bottom: 40px;
  }

  .del3_pakker{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
  }


  .del4 img{
    max-width: 300px;
    grid-row: 1/3;
    place-self: center;
  }
  .del4_grid{
    grid-template-rows: auto auto;
    gap: 0px;
    margin-right: 10%;
  }
.buttom_text{
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 0px;
}
.text{
  place-self: end;
}
.text p{
  margin-top: 0px;
}


.del5_grid{

  margin-left: 10%;
}

.del5 img{
  max-width: 300px;
  place-self: center;
  grid-row: 1/3;
}

.del5_buttom_text{
margin-right: 10%;
grid-column: 1/2;
}
.del5_text:last-of-type{
  margin-bottom: 0;
}
}

</style> 