---
const { enkelpakke } = Astro.props;
---

<article>
   <h2>{enkelpakke.nummer}</h2>
   <p>{enkelpakke.navn}</p>
   <p>{enkelpakke.info}</p>
   <a href="/enkel_pakke">
   <button>Læs mere</button></a>
</article>