---
import Layout from "../layouts/Layout.astro";
---
  
  <ul class="menu">
        <li><a href="/">Forside</a></li>
        <li><a href="/menukort">Menu</a></li>
        <li><a href="">Book Bord</a></li>
        <li><a href="/selskaber">Selskaber</a></li>
        <li><a href="">Gavekort</a></li>
        <li><a href="/cocktailcatering">Cocktail catering</a></li>
        <li><a href="">Aftenbar</a></li>
      </ul>