---
const { mad } = Astro.props;
---

<section class="mad">
   <p class="p_bold">{mad.navn}</p>
   <p class="p_special">{mad.beskrivelse}</p>
</section>
  

   <style>
      p{
       color: var(--color-secondary);
      }

      .p_bold{
         font-weight: 600;
         font-size: 18px;
         margin-bottom: 0;
         margin-top: 25px;
      }


    .p_special{
      border-bottom: 1px solid var(--color-black);
      margin: 0;
      padding-bottom: 5px;
    }

    .mad{
      min-height: 62px;
     }

    /* desktop*/
     @media (min-width: 800px){

     .p_bold{
        font-size: 25px;
     }

     .mad{
      min-height: 75px;
     }

     .p_special{
      min-width: 600px;

     }

     }

   </style>