---
const { other } = Astro.props;
---

<section class="other">
     
    <div>
      <p class="p_bold">{other.navn}</p>
      <p class="p_special">{other.beskrivelse}</p>
    </div>
    <p class="pris">{other.pris} kr.</p>
    
</section>
   

    <style>
          p{
       color: var(--color-secondary);
      }

      .p_bold{
         font-weight: 600;
         font-size: 18px;
         margin-bottom: 0;
         margin-top: 25px;
      }


    .p_special{
      margin: 0;
      padding-bottom: 5px;
      max-width: 270px;
     }

     .other{
        display: flex;
        justify-content: space-between;
       align-items: end;
       border-bottom: 1px solid var(--color-black);
       min-height: 62px;
        
     }

     .pris{
        align-self: end;
        margin-bottom: 5px;
        
     }

     /* tablet*/
     @media (min-width: 530px){
        .p_special{
      max-width: 400px;
     }

     }

     /* desktop*/
     @media (min-width: 800px){

     .p_bold{
        font-size: 25px;
     }

      .p_special{
      max-width: 800px;
      min-width: 600px;
     }

     .other{
      min-height: 100px;
     }


     }

    </style>