---
const { pakke } = Astro.props;
---

<div class="enkelpakke">
   <img src={pakke.img} alt="pakker">
   <h2>{pakke.nummer}</h2>
   <p>{pakke.navn}</p>
   <a href=`enkel_pakke/${pakke.id}`><button id="btn2">Læs mere</button>
   </a>
</div>

   <style>
      h2{
         color: var(--color-white);
         margin: 0px;
         padding-top: 30px;
      }
      p{
         color: var(--color-white);
      }
.enkelpakke{
   text-align: center;
   border-bottom: solid 0.5px var(--color-white);
   padding-top: 30px;
   padding-bottom: 30px;
}

.enkelpakke:last-child{
   border-bottom: none;
   padding-bottom: 80px;
}

img{
   border-radius: 50%;
   aspect-ratio: 1/1;
   justify-self: center;
  max-width: 200px;
  width: 100%;
  object-fit: cover;
}


/* Desktop */
@media (min-width: 800px){
h2{
   font-size: 2rem;
}

   .enkelpakke{
      border-right: solid 0.5px var(--color-white);
      border-bottom: none;
   }

   .enkelpakke:last-child{
      border-right: none;
   }
}

   </style>