---
const { pakke } = Astro.props;
---

<div class="enkelpakke">
   <h2>{pakke.nummer}</h2>
   <p>{pakke.navn}</p>
   <a href="/enkelpakke">
   <button>Læs mere</button></a>
</div>
   <style>
      h2{
         color: var(--color-white);
         margin: 0px;
      }
      p{
         color: var(--color-white);
      }
.enkelpakke{
   background-color: var(--color-secondary);
   text-align: center;
   padding: 30px 0px;
   border-bottom: solid var(--color-white);
}

/* Desktop */
@media (min-width: 800px){
   .enkelpakke{
      display: flex;
      flex-direction: row;
   }
}

   </style>