---
const {title}=Astro.props
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
---

<html lang="en">
	<head>
        <meta name="robots" content="noindex">
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Gloock&display=swap" rel="stylesheet">

		<title>Astro</title>
        
	</head>
	<body>
    <Header />
    <main>
        <slot>
        </slot>
</main>
<Footer/>
	</body>
</html>


<style is:global>

    * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}    


img {
  width: 100%;
  height: auto;
  display: block;}

  html{
	--color-primary: #f5ecdb;
	--color-secondary:#2b3461;
	--color-action: #c76758;
	--color-black: #100e0e;
	--color-white: #f7f7f7;
  }

  body{
	background-color: var(--color-primary);
  }

h1, h2, button {
  font-family: "Gloock", serif;
  font-weight: 400;
}

h1{
	font-size: 30px;
}
h2{
	font-size: 22px;
}
p {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
}

button{
	font-size: 15px;
	background-color: var(--color-action);
    color: var(--color-white);
    cursor: pointer;
    border-radius: 15px;
    border-style: none;
    padding: 15px 35px;
    text-decoration: none;
    justify-self: center;
}
button:hover{
	background-color: #a84f40;
}

@media (min-width: 800px){
h1{
	font-size: 60px;
}
h2{
	font-size: 48px;
}
button{
	font-size: 20px;
}
p{
	font-size: 20px;
	line-height: 27px;
}

}


</style>