---
const {title}=Astro.props
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
---

<html lang="en">
	<head>
        <meta name="robots" content="noindex">
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/public/Sidecar_Favicon 1.png" />
		<link rel="icon" href="public/Sidecar_Favicon 1.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Gloock&display=swap" rel="stylesheet">

		<title>Astro</title>
        
	</head>
	<body>
    <Header />
    <main>
        <slot>
        </slot>
</main>
<Footer/>
	</body>
</html>


<style is:global>

    * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}    


img {
  width: 100%;
  height: auto;
  display: block;}

  html{
	--color-primary: #f5ecdb;
	--color-secondary:#2b3461;
	--color-action: #B04838;
  --color-action2: #D98C80;
	--color-black: #100e0e;
	--color-white: #f7f7f7;
  }

  body{
	background-color: var(--color-primary);
  }


/* OVERSKRIFTER OG TEKST */
h1, h2, h3, h4, button, .btn, #btn2 {
  font-family: "Gloock", serif;
  font-weight: 400;
}

h1{
	font-size: 30px;
}
h2{
	font-size: 22px;
}

h3{
    font-size: 20px;
    color: var(--color-secondary);
  }

h4{
    font-size: 18px;
    color: var(--color-primary);
    justify-self: center;
  }

p, ul {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
}

/* KNAPPER */
button,
.btn,
#btn2{
	font-size: 15px;
    color: var(--color-white);
    cursor: pointer;
    border-radius: 15px;
    border-style: none;
    padding: 15px 35px;
    text-decoration: none;
    justify-self: center;
}

button,
.btn{
background-color: var(--color-action);
}

#btn2{
background-color: var(--color-action2);
color: var(--color-secondary);

}

#btn2:hover{
background-color: var(--color-action);
color: var(--color-white);
}


button:hover,
.btn:hover{
	background-color: var(--color-action2);
  color: var(--color-secondary);
}

.line {
    width: 80%;
    justify-self: center;
  height: 0.5px;
  background-color: var(--color-secondary);
}

.book_btn {
  position: fixed;
  top: 60%;
  right: 0;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: right center;
  margin-right: 1rem;
  border-radius: 15px 15px 0 0;
  z-index: 100;
}

/* ANIMATIONER */
button:not(.book_btn):not(.knap):hover,
.btn:hover,
.btn2:hover{
  animation: hop 0.5s ease;
}

@keyframes hop{
  50%{
    transform: translateY(-10px);
  }
}

@keyframes op_ned {
  from {
    opacity: 0;
    clip-path: inset(0 0 100% 0 );
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

#img_ani {
  animation: op_ned ease-out both;
  animation-timeline: view();
  animation-range: 10% 50%;
}

/* DESKTOP */
@media (min-width: 800px){
h1{
	font-size: 60px;
}
h2{
	font-size: 48px;
}

h3{
    font-size: 40px;
  }

  h4{
    font-size: 30px;
  }

p, ul{
	font-size: 20px;
	line-height: 27px;
}

/* KNAP */
   .book_btn {
    top: 60%;
    margin-right: 1.5rem;
  }

  button,
.btn,
#btn2{
	font-size: 20px;
}

}


</style>